.DS_Store
.idea
*.log
tmp/

bibliography
.lia.cache
_build

node_modules
nashwires/lib
*.bs.js
Parser.js
result
.envrc
.direnv
soupault/build
game-theory/theories/*.v.html
game-theory/theories/alectryon.css
game-theory/theories/alectryon.js
game-theory/theories/pygments.css
